.new-session
  %h2.center-align Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .input-field
      %i.material-icons.prefix email
      = f.label :email
      = f.email_field :email, autofocus: true
    .input-field
      %i.material-icons.prefix vpn_key
      = f.label :password
      = f.password_field :password, autocomplete: "off"
    - if devise_mapping.rememberable?
      .input-field
        %i.material-icons.prefix
        = f.check_box :remember_me
        = f.label :remember_me
    %br/
    .actions
      = f.button class: 'btn waves-effect waves-light loginbutton' do
        Log in
        %i.material-icons.right send
    %br/
  .sessionlinks
    = render "devise/shared/links"
