.post
  .postowner
    .name
      = post_owner(post)
    .elapsed
      = time_ago_in_words post.created_at
    .deletepost
      = link_to '...', post, method: :delete, data: { confirm: 'Are you surreeee? :p' }
  .content
    = simple_format post.content
    -# = post.content
    .buttons
      = button_to 'Delete', post, method: :delete if post.user == current_user
      - unless post.likers.include? current_user
        .likepanel
          .likebutton
            = button_to 'Like', post_likes_path(post)
          .likecount
            = pluralize(post.likes.count, 'like')
      - else
        .likepanel
          .likebutton
            = button_to 'Unlike', post_likes_path(post)
          .likecount
            = pluralize(post.likes.count, 'like')
        .youlike
          You like this
- unless post.comments.empty?
  .posted-comments
    = render post.comments
.comment-form
  .commentbox
    = form_for @comment, url: post_comments_path(post) do |f|
      = f.text_area :body, size: '30x3', placeholder: 'Write a comment...'
      .commentbutton
        = f.submit 'Comment'