%header
  - if user_signed_in?
    %ul{:id => "notification-dropdown", :class => "dropdown-content"}
      - current_user.friend_invitations.each do |friend_invitation|
        = render 'friend_requests/notification_friend_invitation', friend_invitation: friend_invitation
  %nav
    .nav-wrapper
      .container
        = link_to '#', class: 'button-collapse', data: { activates: 'mobile-demo' } do
          %i.material-icons menu
        - if user_signed_in?
          - if current_user.friend_invitations.any?
            .notification-friend-invitations{:id => "nfi#{current_user.id}"}
              %ul
                %li
                  = render 'friend_requests/notification_friend_invitations',  user: current_user
          - else
            .notification-friend-invitations{:id => "nfi#{current_user.id}", :style => "display: none;"}
              %ul
                %li
        - else
          = link_to 'Facebook', root_path, class: 'brand'
        %ul.right#nav-mobile
          %li
            = link_to 'Facebookers', users_path
          - if user_signed_in?
            %li= link_to 'Home', root_path
            %li= link_to 'Profile', current_user
            %li= link_to 'Edit Profile', edit_user_registration_path
            %li= link_to 'Sign out', destroy_user_session_path, method: :delete
        %ul.side-nav#mobile-demo
          %li= link_to 'Facebookers', users_path
          - if user_signed_in?
            %li= link_to 'Home', root_path
            %li= link_to 'Profile', current_user
            %li= link_to 'Edit Profile', edit_user_registration_path
            %li= link_to 'Sign out', destroy_user_session_path, method: :delete
